version: '3.8'

services:
  react:
    build:
      context: ./react
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./react/src:/usr/src/app/src
      - /usr/src/app/node_modules
    networks:
      - backend

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules 
    networks:
      - backend
    depends_on:
      - db

  db:
    image: mysql:latest
    container_name: mysql_container
    ports:
      - "3306:3306"
    volumes:
      - ./db/data:/var/lib/mysql
    networks:
      - backend
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: accounting
      MYSQL_USER: user
      MYSQL_PASSWORD: password

  nginx:
    image: nginx:latest
    container_name: nginx_container
    ports:
      - "80:80"  # 外部の80番ポートをコンテナ内の80番ポートにマッピング
    volumes:
      - ./nginx:/etc/nginx/conf.d  # nginxの設定ファイルをマウント
    networks:
      - backend
    depends_on:
      - react
      - api

networks:
  backend:
    driver: bridge

